- let i18n
case site.lang
  when 'fr'
    - i18n = fr
  default
    - i18n = en

doctype html
html(lang= site.lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title= title ? `${title} - ${site.name}` : `${site.name} - ${i18n.tagline}`
    meta(name='description', content= description || i18n.bio)
    link(rel='canonical', href= site.url + page.url)
    //- meta(name='robots', content='noindex nofollow')

    block head
      link(rel='stylesheet', href='/main.css')
  body
    block content

    //- script(src='_scripts/main.js')
